<!DOCTYPE html>
<html>
  <!-- <head>
    <title>My cool title</title>
  </head> -->

  <body>

    <div>
      <h1>welcome to <%= @crm_app_name %>!</h1>
      <p>main menu</p>
      <ul>
        <li><a href="/contacts">view all contacts</a></li>
        <li><a href="/contacts/new">add a new contact</a></li>
      </ul>
    </div>

    <div></div>
    <div></div>


  </body>

</html>
