<!DOCTYPE html>
<html>
  <head></head>
  <body>

    <div>
      <h1>welcome to <%= @crm_app_name %></h1>
    </div>

    <div>
      <section>
        <p>this is my first ever web page | | | enjoy the ride</p>
        <a class="fantastic" href="http://madfchr.tumblr.com/">click here for inspiration</a>
        <a class="fantastic" href="http://radfchr.tumblr.com/">click here for beauty</a>
      </section>
      <aside>
        <h2>main menu</h2>
        <ul>
          <li><a class="fabulous" href="/contacts">view all contacts</a></li>
          <li><a class="fabulous" href="/contacts/new">add a new contact</a></li>
        </ul>
      </aside>
    </div>

    <div></div>


  </body>

</html>
