<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ariane's CRM</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- <img src="header.jpg"> -->
  </head>

  <body>

    <header>
      <nav>
        <a href="/">Home</a> | <a href="/contacts">View all contacts</a>
      </nav>
    </header>

    <%= yield %>

    <footer>&copy; 2016 Bitmaker Labs</footer>

  </body>

</html>
