<!DOCTYPE html>
<html>
  <head>
    <title>My cool title</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <header>
      <nav>
        <a href="/">Home</a> | <a href="/contacts">View all contacts</a>
      </nav>
    </header>

    <%= yield %>

    <footer>&copy; 2016 Bitmaker Labs</footer>

  </body>

</html>
