<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ariane's crm</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- <img src="header.jpg"> -->
  </head>

  <body>

    <header>
      <nav>
        <a href="/">home</a> | <a href="/contacts">view all contacts</a>
      </nav>
    </header>

    <%= yield %>

    <footer>&copy; 2016 arianedesf</footer>

  </body>

</html>
